
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Jekyll v4.0.1">
    <title>Trivia</title>

    <!-- Bootstrap core CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

<body>
    <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
  <h5 class="my-0 mr-md-auto font-weight-normal name">Hello User</h5>
  <form class="logout" action="/" method="GET"> 
     <button type="submit" class="btn btn-outline-danger">Logout</button>
  </form>

    </div>

<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
  <h1 class="display-4">Trivia</h1>
  <p class="lead">Choose a category in which to play the Trivia Quiz from General Knowledge,Movies,Series, Games, Computer Science,Anime. </p>
</div>
<form action="/home" method="POST">
<div class="container">
  <div class="card-deck mb-3 text-center">
    <div class="col-lg-4 col-md-6 col-sm-12">
    <div class="card mb-4 shadow-sm">
      <div class="card-body ">
        <h1 class="card-title  ">General Knowledge</small></h1>
        <button name="btn1" value="9" type="submit" class="btn btn-lg btn-block btn-outline-primary">Take Test</button>
      </form>
      </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12">
    <div class="card mb-4 shadow-sm">
      <div class="card-body">
        <h1 class="card-title ">Film and Movies</h1>

        <button name="btn1" value="11" type="submit" class="btn btn-lg btn-block btn-outline-primary">Take Test</button>
      </div>
    </div>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12">
    <div class="card mb-4 shadow-sm">
      <div class="card-body">
        <h1 class="card-title ">Television Series</small></h1>
       
        <button name="btn1" value="14" type="submit" class="btn btn-lg btn-block btn-outline-primary">Take Test</button>
      </div>
    </div>
  </div>

        <div class="col-lg-4 col-md-6 col-sm-12">
        <div class="card mb-4 shadow-sm">
            <div class="card-body">
              <h1 class="card-title ">PC/XBOX/PS Games</h1>

             
              <button name="btn1" value="15" type="submit" class="btn btn-lg btn-block btn-outline-primary">Take Test</button>
            </div>
          </div>
    </div>

    <div class="col-lg-4 col-md-6 col-sm-12">
          <div class="card mb-4 shadow-sm">
            <div class="card-body">
              <h1 class="card-title ">Computer Science</h1>

             
              <button name="btn1" value="18" type="submit" class="btn btn-lg btn-block btn-outline-primary">Take Test</button>
            </div>
          </div>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12">
          <div class="card mb-4 shadow-sm">
            <div class="card-body">
              <h1 class="card-title ">Anime/ Cartoons</h1>
             
              <button name="btn1" value="31" type="submit" class="btn btn-lg btn-block btn-outline-primary">Take Test</button>
            </div>
          </div>
    </div>
    </div>
  </div>


<div class="container">
  

 <div class="row">
  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
    <table class="table">
      <h2 class="sub-header">General Knowledge</h2>
      <thead>
        <tr class="table-dark">
          <th>Name</th>
          <th>Score</th>
        </tr>
      </thead>
      <tbody>
        <% var n=((top.gk.length< 5)?top.gk.length :5)%>
        <% for(var i=0;i<n;i++) { %>
        <tr>
          <td><%=top.gk[i].name%></td>
          <td><%=top.gk[i].score%></td>
        </tr>
        <% } %>
      </tbody>
    </table>
  </div>
  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
    <table class="table">
      <h2 class="sub-header">Film/Movies</h2>
      <thead>
        <tr class="table-dark">
          <th>Name</th>
          <th>Score</th>
        </tr>
      </thead>
      <tbody>
        <% var n=((top.movie.length< 5)?top.movie.length :5)%>
        <% for(var i=0;i<n;i++) { %>
        <tr>
          <td><%=top.movie[i].name%></td>
          <td><%=top.movie[i].score%></td>
        </tr>
        <% } %>
      </tbody>
    </table>
  </div>
  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
    <table class="table">
      <h2 class="sub-header">TV Series</h2>
      <thead>
        <tr class="table-dark">
          <th>Name</th>
          <th>Score</th>
        </tr>
      </thead>
      <tbody>
        <% var n=((top.tv.length< 5)?top.tv.length :5)%>
        <% for(var i=0;i<n;i++) { %>
        <tr>
          <td><%=top.tv[i].name%></td>
          <td><%=top.tv[i].score%></td>
        </tr>
        <% } %>
      </tbody>
    </table>
  </div>
  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
    <table class="table">
      <h2 class="sub-header">Games</h2>
      <thead>
        <tr class="table-dark">
          <th>Name</th>
          <th>Score</th>
        </tr>
      </thead>
      <tbody>
        <% var n=((top.game.length< 5)?top.game.length :5)%>
        <% for(var i=0;i<n;i++) { %>
        <tr >
          <td><%=top.game[i].name%></td>
          <td><%=top.game[i].score%></td>
        </tr>
        <% } %>
      </tbody>
    </table>
  </div>
  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
    <table class="table">
      <h2 class="sub-header">Computer Science</h2>
      <thead>
        <tr class="table-dark">
          <th>Name</th>
          <th>Score</th>
        </tr>
      </thead>
      <tbody>
        <% var n=((top.cs.length< 5)?top.cs.length :5)%>
        <% for(var i=0;i<n;i++) { %>
        <tr>
          <td><%=top.cs[i].name%></td>
          <td><%=top.cs[i].score%></td>
        </tr>
        <% } %>
      </tbody>
    </table>
  </div>
  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
    <table class="table">
      <h2 class="sub-header">Anime</h2>
      <thead>
        <tr class="table-dark">
          <th>Name</th>
          <th>Score</th>
        </tr>
      </thead>
      <tbody>
        <% var n=((top.anime.length< 5)?top.anime.length :5)%>
        <% for(var i=0;i<n;i++) { %>
        <tr>
          <td><%=top.anime[i].name%></td>
          <td><%=top.anime[i].score%></td>
        </tr>
        <% } %>
      </tbody>
    </table>
  </div>
</div>
</div>




<hr>
  <p class="d-block mb-3 text-muted text-center">&copy; Trivia</p>
</body>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="js/home.js"></script>
